:root {
    --building-color: #FF9800;
    --house-color: #0288D1;
    --shop-color: #7B1FA2;
    --warehouse-color: #558B2F;
}

#map {
    height: 100%;
    width: 100%;
}
/*
   * Property styles in unhighlighted state.
   */
.property {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    /* height: 30px; */
    justify-content: center;
    padding: 4px;
    position: relative;
    transition: all 0.3s ease-out;
    /* width: 30px; */
}

.property::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
}


.property .details {
    display: none;
    flex-direction: column;
    flex: 1;
}

.property .address {
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.property .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.property .features>div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
}

/*
   * Property styles in highlighted state.
   */
.property.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 8px 15px;
    width: auto;
}

.property.highlight::after {
    border-top: 9px solid #FFFFFF;
}

.property.highlight .details {
    display: flex;
}

.property .bed {
    color: #FFA000;
}

.property .bath {
    color: #03A9F4;
}

.property .size {
    color: #388E3C;
}

@keyframes drop {
    0% {
      transform: translateY(-200px) scaleY(0.9);
      opacity: 0;
    }
    5% {
      opacity: 0.7;
    }
    50% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
    65% {
      transform: translateY(-17px) scaleY(0.9);
      opacity: 1;
    }
    75% {
      transform: translateY(-22px) scaleY(0.9);
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
  }
  .drop {
    animation: drop 0.3s linear forwards var(--delay-time);
  }

#main {
    width: 100%;
}

.floating-panel {
    display: none;
    position: absolute;
    left: 7%;
    z-index: 5;
    font-family: "Roboto", "sans-serif";
    margin-left: -100px;
    margin-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
}

#directionsPanel{
    /* display: none; */
    background-color: grey;
    opacity: 0.9;
    height: auto;
    font-size: 100%;
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: 40%;
    font-size: 10px;
}
.adp-summary {
    color: white;
}
.adp-directions {
    display: none;
}
.adp-legal{
    display: none;
}
.map_button {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    color: rgb(25,25,25);
    cursor: pointer;
    font-family: "Roboto,Arial,sans-serif";
    font-size: 16px;
    line-height: 38px;
    margin: 8px 0 22px;
    padding: 0 5px;
    text-align: center;
}
